#app {
    width: 700px;
    margin: 0px auto;
    display: block;
}

main {
    margin: 20px 0px;
}

footer {
    height: 20px;
    text-align: center;
}

line {
    display: inline-block;
    margin: 5px 0px;
    width: 100%;
}

#start {
    padding: 10px;
    width: 100px;
    position: relative;
    margin: 0 50% 0 50%;
}